*{
    padding: 0;
    margin: 0;
}


body{
    background-color: black;
    color: white;
}
nav{
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right ul{
    display: flex;
    gap: 64px;
}

#logo img{
    width: 200px;
}


.right li{
    list-style: none;
}

.right li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

.right li svg{
    color: white;
    width: 18px;
}

.middle{
    margin: 80px 0px 30px 0px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;

}

.item{
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.item img{
    margin-top: 7px;
}

#content{
    margin: 38px 20px 30px 20px;
    width: 900px;
    font-size:25px;
}
#window{
    padding: 20px 20px 50px 20px;
}

#big{
    font-size: 25px;
}


#window a{
    background-color: #1b6464;
    color: white;
    text-decoration: none;
    padding: 15px;
    margin: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.version{
    display: flex;
    align-items: center;
    padding: 0px 160px;
    margin-bottom: 20px;
}

.version img{
    width: 50px;
}

.download{
    display: flex;
    justify-content: center;
    align-items: center;
}


.boxes{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 75vw;
    gap: 30px;
}

.box{
    height: 180px;
    background-color: #110f0f;
}

.center{
    margin-top: 21px;
    text-align: center;
}

.below{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.below1{
    margin-top: 29px;
    display: flex;
    justify-content: space-evenly;
}

.box1{
    border-radius: 5px;
    padding: 10px;
    margin: 10px;    
}

.small{
    margin-top: 4px;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.below a{
    color: white;
    text-decoration: none;
}
.below1 a{
    color: white;
    text-decoration: none;
}

.navy{
    background-color: navy;
}

.green{
    background-color: green;
}